In [20]:
import numpy as np
import pandas as pd
import seaborn as sns
import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [2]:
df = sns.load_dataset('iris')
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [3]:
X = df.drop('species', axis=1)
X

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [6]:
y = df['species']
y

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X,
                                                    y,
                                                    test_size = 0.33)

In [12]:
y_train_int = y_train.replace(['setosa', 'versicolor', 'virginica'], [0, 1, 2])
y_test_int = y_test.replace(['setosa', 'versicolor', 'virginica'], [0, 1, 2])

/tmp/ipykernel_9999/1564189304.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  y_train_int = y_train.replace(['setosa', 'versicolor', 'virginica'], [0, 1, 2])
/tmp/ipykernel_9999/1564189304.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  y_test_int = y_test.replace(['setosa', 'versicolor', 'virginica'], [0, 1, 2])

In [13]:
D_train = xgb.DMatrix(X_train, label = y_train_int)
D_test = xgb.DMatrix(X_test, label = y_test_int)

In [14]:
param = {
    'eta': 0.1,
    'max_depth': 2,
    'objective': 'multi:softprob',
    'num_class': 3
}

In [15]:
steps = 10

In [16]:
model = xgb.train(param, D_train, steps)

In [18]:
y_preds = model.predict(D_test)

In [25]:
y_preds[0]

array([0.14626181, 0.16238235, 0.6913558 ], dtype=float32)

In [26]:
y_pred = np.asarray([np.argmax(line) for line in y_preds])

In [27]:
y_pred[0]

2

In [28]:
accuracy_score(y_test_int, y_pred)

0.96