# Importing libraries

Just for a cleaning notebook, all the libraries will be stored right on the start of it.

In [16]:
import pandas as pd

from sklearn.ensemble import RandomForestClassifier

from sklearn.model_selection import train_test_split

import pickle

# Data cleaning

By convention, the dataframe is divided in two different datasets: X and y, where X have the data to be learned by the model and y have the data to be predicted.

In [7]:
music_df = pd.read_csv("music.csv")
display(music_df)

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

In [8]:
X = music_df.drop('genre', axis = 1)
display(X)

    age  gender
0    20       1
1    23       1
2    25       1
3    26       1
4    29       1
5    30       1
6    31       1
7    33       1
8    37       1
9    20       0
10   21       0
11   25       0
12   26       0
13   27       0
14   30       0
15   31       0
16   34       0
17   35       0

In [9]:
y = music_df['genre']
display(y)

0        HipHop
1        HipHop
2        HipHop
3          Jazz
4          Jazz
5          Jazz
6     Classical
7     Classical
8     Classical
9         Dance
10        Dance
11        Dance
12     Acoustic
13     Acoustic
14     Acoustic
15    Classical
16    Classical
17    Classical
Name: genre, dtype: object

# Training and predicting

In [11]:
model = RandomForestClassifier()
model.fit(X, y)

y_pred = model.predict([ [24, 1], [33, 0] ])
display(y_pred)

/home/shuruyi/Documents/git/machine-learning/.venv/lib/python3.12/site-packages/sklearn/base.py:493: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

array(['HipHop', 'Classical'], dtype=object)

When training a model, its optimal to just split all the data into trainning and test set.

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

print(f"X_train shape: {X_train.shape}")
print(f"X_test shape: {X_test.shape}")
print(f"y_train shape: {y_train.shape}")
print(f"y_test shape: {y_test.shape}")

X_train shape: (14, 2)
X_test shape: (4, 2)
y_train shape: (14,)
y_test shape: (4,)

In [15]:
model = RandomForestClassifier()
model.fit(X_train, y_train)

In [17]:
pickle.dump(model, open('music-recommender.pkl', 'wb'))

In [18]:
model = pickle.load(open('music-recommender.pkl', 'rb'))
y_pred = model.predict(X_test)